* {
  box-sizing: border-box;
  --font-primary: "Roboto Slab", serif;
  --font-secondary: "Comfortaa", cursive;
}

.App,
button {
  font-family: var(--font-primary);
  text-align: center;
}

header {
  background: cyan;
  color: #575454;
}

footer {
  background: darkblue;
  color: rgb(218, 200, 200);
}

.powerbtn {
  width: 5rem;
  border: groove;
  border-radius: 5px;
}

.container {
  margin: 20px auto;
  width: 25rem;
  height: 20rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 12rem 12rem;
  grid-row: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.box {
  /* font-family: var(--font-secondary); */
  font-size: 1rem;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px #333;
}

.field {
  /* font-family: var(--font-secondary); */
  font-size: 1.2rem;
  margin: auto 20px 20px;
  border: ridge;
  border-radius: 10px;
}
